In [7]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]
city = ["Tokyo", "Kiev", "Mekke", "İstanbul", "Washington"]
print(zip(text, numbers))

<zip object at 0x00000225CA0600C0>

In [8]:
list(zip(text, numbers))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [6]:
print(* zip(text, numbers))

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [9]:
print(* zip(text, numbers, city))

('one', 1, 'Tokyo') ('two', 2, 'Kiev') ('three', 3, 'Mekke') ('four', 4, 'İstanbul') ('five', 5, 'Washington')

In [10]:
evens = []
odd = []

for n in range(10) :
    if n%2 == 0 :
        evens.append(n)
    else :
        odd.append(n)
print(evens)
print(odd)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [14]:
numbers = [11, 36, 33, 66, 89, 21, 32, 16, 10]
evens = 0
odds = 0

for i in numbers :
    if not i%2 :
        evens += 1
    else:
        odds += 1
        
print("The count of even numbers : ", evens)
print("The count of odd numbers : ", odds)

The count of even numbers :  5
The count of odd numbers :  4

if 1:
    print("çalışır")
    
if 0:
    print("beni göremezsin")

In [18]:
for i in range(1,10) :
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [23]:
names = ["susan", "tom", "edward"] 
mood = ["happy", "sad"]
for i in names :
    for ii in mood :
        print(i + " is " + ii)
        print(i, "is", ii)

susan is happy
susan is happy
susan is sad
susan is sad
tom is happy
tom is happy
tom is sad
tom is sad
edward is happy
edward is happy
edward is sad
edward is sad

In [25]:
my_list = [1, 2, 3, 4, 5, 6]
new_list = []
for i in my_list :
    if i % 2 :
        new_list.append(i ** 2)
new_list

[1, 9, 25]

In [29]:
bos =[]
bos.append(my_list[0] ** 2)
bos
bos.append(my_list[2] ** 2)
bos.append(my_list[4] ** 2)
bos

[1, 9, 25]

# "list comprehension"ların temel yapısı :
    [expression for item in iterable]

```python
    for item in iterable :
        expression
```

In [30]:
listem = []
for i in range(5):
    listem.append(i)
listem

[0, 1, 2, 3, 4]

In [32]:
[i for i in range(5)]
[i**2 for i in range(5)]

[0, 1, 4, 9, 16]

In [36]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [45]:
liste = [[1, 2, 3],
[4, 5, 6],
[7, 8, 9],
[10, 11, 12]]

In [47]:
lst1 = []
for i in liste:
    for z in i:
        lst1 += [z]
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [48]:
lst2 = [z for i in liste for z in i]
print(lst2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [49]:
condition = True
if condition :
    a = 1
else :
    a = 0
print(a)

1

In [51]:
a = 1 if 2 < 4 else 0
print(a)

1

In [55]:
a = 1 if 2 < 4 else 0
print(a)
print(1 if False else 0)
print(1 if True else 0)

1
0
1

## ternary `if ` condition yapısı

```python
execute-body1 if condition else execute-body2
```

In [56]:
my_list = [1, 2, 3, 4, 5, 6]
[i ** 2 for i in my_list if i%2]

[1, 9, 25]

In [60]:
for i in my_list :
    if i % 2 :
        new_list.append(i ** 2)
new_list

[1, 9, 25, 1, 9, 25, 1, 9, 25, 1, 9, 25]

In [62]:
[i ** 2 for i in my_list if not i%2]
a = [i ** 2 for i in my_list if not i%2]
a

[4, 16, 36]

In [63]:
a = (i**2 for i in my_list)
a

In [64]:
print(*a)

1 4 9 16 25 36

In [70]:
for i in a:
    print(i)

In [71]:
a = (i**2 for i in my_list)

print(next(a))

1

In [72]:
print(next(a))

4

In [73]:
print(next(a))

9

In [74]:
print(*range(5))

0 1 2 3 4

In [75]:
all(["", "dolu", 1])

False

In [79]:
all(())
all({})
all([])

True

In [80]:
all([""])
all([[]])

False

In [86]:
notlar = {'Ahmet' : 60,
        'Sinan' : 50,
        'Mehmet' : 45,
        'Ceren' : 87,
        'Selen' : 99,
        'Cem' : 98,
        'Can' : 51,
        'Kezban' : 100,
        'Hakan' : 66,
        'Mahmut' : 80}
def süz(n):
    return n >= 70
print(*filter(süz, notlar.values()))
print(list(filter(süz, notlar.values())))
[i for i in filter(süz, notlar.values())]

87 99 98 100 80
[87, 99, 98, 100, 80]

[87, 99, 98, 100, 80]

In [88]:
def not_durumu(n):
    if n in range(0, 50): return 'F'
    if n in range(50, 70): return 'D'
    if n in range(70, 80): return 'C'
    if n in range(80, 90): return 'B'
    if n in range(90, 101): return 'A'
print(not_durumu(85))

B

In [89]:
listem = [None, "0", "istanbul", ()]
filtered = filter(None, listem)
filtered

In [90]:
print(* filtered)

0 istanbul

In [91]:
filtered = filter(None, listem)
for i in filtered :
    print(i)

0
istanbul

In [92]:
enum = enumerate(listem)
type(enum)

enumerate

In [93]:
enum

In [94]:
print(* enum)

(0, None) (1, '0') (2, 'istanbul') (3, ())

In [96]:
min("ahmet")

'a'

In [103]:
ord("a")

97

In [97]:
max("ahmet")

't'

In [99]:
ord("t")

116

In [106]:
sum([1,2,3,4,5])

15

In [107]:
sum(1,2,3,4,5)

TypeError: sum() takes at most 2 arguments (5 given)

In [110]:
def multiply(a, b) :
    print(a * b)
multiply("amazing ", 3)
print("amazing " * 3)

amazing amazing amazing
amazing amazing amazing

In [111]:
def mevlana() :
    print("""Duydum ki bizi bırakmaya azmediyorsun, etme.
Başka bir yar, başka bir dosta meylediyorsun, etme.
Sen yadeller dünyasında ne arıyorsun yabancı?
Hangi hasta gönüllüyü kastediyorsun, etme.
Çalma bizi, bizden bizi, gitme o ellere doğru.
Çalınmış başkalarına nazar ediyorsun, etme.
Ey ay, felek harab olmuş, altüst olmuş senin için...
Bizi öyle harab, öyle altüst ediyorsun, etme.
Ey, makamı var ve yokun üzerinde olan kişi,
Sen varlık sahasını öyle terk ediyorsun, etme.
Sen yüz çevirecek olsan, ay kapkara olur gamdan.""")
mevlana()

Duydum ki bizi bırakmaya azmediyorsun, etme.
Başka bir yar, başka bir dosta meylediyorsun, etme.
Sen yadeller dünyasında ne arıyorsun yabancı?
Hangi hasta gönüllüyü kastediyorsun, etme.
Çalma bizi, bizden bizi, gitme o ellere doğru.
Çalınmış başkalarına nazar ediyorsun, etme.
Ey ay, felek harab olmuş, altüst olmuş senin için...
Bizi öyle harab, öyle altüst ediyorsun, etme.
Ey, makamı var ve yokun üzerinde olan kişi,
Sen varlık sahasını öyle terk ediyorsun, etme.
Sen yüz çevirecek olsan, ay kapkara olur gamdan.

In [113]:
def calculator(x, y, opr) :
    if opr == "+" :
        print(x + y)
    elif opr == "-" :
        print(x - y)
    elif opr == "*" :
        print(x * y)
    elif opr == "/" :
        print(x / y)
    else:
        print("Enter a valid operator!")
calculator(12, 3, "/")

4.0

In [116]:
def mul(x, y) :
    return x+y

aa = mul(2, 5)
print(aa)


print(mul(3,6))

mul(3,6)

7
9

9

In [117]:
print(type(print("hello")))

hello
<class 'NoneType'>

In [119]:
print(type(10*5))
print(10*5)

<class 'int'>
50

In [121]:
def string() :
    return "ahmet"
print(string())
type(string())

ahmet

str

In [122]:
def integer() :
    return 15
print(integer())
type(integer())

15

int

In [123]:
def boolean() :
    return True
type(boolean())
print(boolean())

True

In [124]:
if boolean():
    print("ben çalıştım")
else :
    print("beni rahatsız etmeyesen.")

ben çalıştım

In [125]:
def listem() :
    return [1,2,3,4,5]
print(listem())

[1, 2, 3, 4, 5]

In [126]:
for i in listem() :
    print(i)

1
2
3
4
5

In [128]:
tuple(listem())
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [130]:
if not 0 :
    print("Allahini seven yardima gelsin")

Allahini seven yardima gelsin

In [131]:
def listem() :
    return ["hello"]
listem()

['hello']

In [132]:
def filterVowels(letter) :
    vowels = ["a", "e", "i", "o", "u"]
    
    if letter.lower() in vowels :
        return True
    else :
        return False

In [134]:
vowels = ["a", "e", "i", "o", "u"]

In [135]:
"b" in vowels

False

In [136]:
filterVowels("U")

True

In [137]:
"a" in vowels

True

In [141]:
sentence = "The Clarusway is the best."
filtered_vowels = filter(filterVowels, sentence)
print(* filtered_vowels)

e a u a i e e