In [2]:
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']

In [3]:
country

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']

In [8]:
country.append("aaa")

In [9]:
country

['aaa', 'USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand', 'aaa']

In [3]:
string_1 = 'I quit smoking'

new_list_1 = list(string_1)  # we created multi element list
print(new_list_1)

new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']

In [4]:
empty_list_1= []

empty_list_2 = list()

In [5]:
empty_list_1 = []
empty_list_1.append('114')
empty_list_1.append('plastic-free sea')

print(empty_list_1)

['114', 'plastic-free sea']

In [6]:
empty_list_1[1]

'plastic-free sea'

In [4]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.insert(-1, 'Addis Ababa')

print(city)

['New York', 'London', 'Istanbul', 'Seoul', 'Addis Ababa', 'Sydney']

In [8]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list[0][2][7])

l

In [10]:
print([[12, 34, 56]][0])

[12, 34, 56]

In [11]:
try_tuple = ('love',)

print(try_tuple)

print(type(try_tuple)) # it's not tuple type.

('love',)
<class 'tuple'>

In [12]:
planets = 'mercury', 'jupiter', 'saturn'

print(planets)
print(type(planets))

('mercury', 'jupiter', 'saturn')
<class 'tuple'>

In [14]:
planets

('mercury', 'jupiter', 'saturn')

In [1]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)
city_tuple

('Tokyo', 'Istanbul', 'Moskow', 'Dublin')

In [1]:
mix_value = (10, False, 'fruit', 1.618)
mix_value.append(['vegetable', 2+3j])

print(len(mix_value))

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
newList = list(range(1,11))
a = sorted(newList, reverse=True)
a

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = ("My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1]))
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [ ]:
"My two favorite flowers are tulip and rose, two favorite colors are blue and green."

In [22]:
print(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])

tulip rose blue green

In [21]:
colors[1][1][1]

'green'

In [29]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old. {}I have two children. {}Data Science is my IT domain.".format(escapes[0], escapes[2][1])

print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.

In [30]:
empty_dict_1 = {}

empty_dict_2 = dict()

In [31]:
empty_dict_1 = {}

print(type(empty_dict_1))

<class 'dict'>

In [32]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method

Denver

In [33]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [34]:
mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}

In [35]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [36]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [39]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36}
                
print(student_ages['Clark'])

32

In [41]:
a = set('listen to the voice of enlisted')
a

{' ', 'c', 'd', 'e', 'f', 'h', 'i', 'l', 'n', 'o', 's', 't', 'v'}

In [42]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

In [44]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[3][0])

spinach

In [45]:
family_members = ['Meghan', 'Tom', 'Nicole', 'Tim']
family_members = tuple(family_members)
print(family_members)

('Meghan', 'Tom', 'Nicole', 'Tim')

In [46]:
type(family_members)

tuple

In [4]:
date = "07/12/2021"

In [5]:
set(date)

{'/', '0', '1', '2', '7'}