In [32]:
(lambda x: x**2)(5)

25

In [7]:
print((lambda x, y: (x+y)/2)(3, 5))

4.0

In [34]:
average = lambda x, y: (x+y)/2
print(average(3, 5))  # we call

4.0

In [3]:
echo_word = lambda x,y: x*y

In [5]:
print(echo_word('hello',3))

hellohellohello

In [48]:
iterable = [1, 2, 3, 4, 5]
map(lambda x:x**2, iterable)
result = map(lambda x:x**2, iterable)
print(type(result))  # it's a map type

print(list(result))  # we've converted it to list type to print

print(list(map(lambda x:x**2, iterable)))  # you can print directly

<class 'map'>
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [10]:
def square(n):   
    return n**2  
  
iterable = [1, 2, 3, 4, 5]
result = map(square, iterable) 
print(list(result))

[1, 4, 9, 16, 25]

In [11]:
print(*result)

In [50]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
numbers = map(lambda x, y, z: x+y+z, letter1, letter2, letter3)

print(list(numbers))

['one', 'six', 'ten', 'two']

In [51]:
number_list = [1, 2, 3, 4, 5]

result = list(map(lambda x:x*3 , number_list))

In [52]:
result

[3, 6, 9, 12, 15]

In [53]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
  
even = filter(lambda x:x%2==0, first_ten) 
print(type(even))  # it's 'filter' type, 
                   # in order to print the result,
                   # we'd better convert it into the list type

print('Even numbers are :', list(even))

<class 'filter'>
Even numbers are : [0, 2, 4, 6, 8]

In [54]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
  
vowels = filter(lambda x: True if x in vowel_list else False, first_ten) 

print('Vowels are :', list(vowels))

Vowels are : ['a', 'e', 'i']

In [55]:
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = list(filter(lambda x: x >=6, number_list))
result

[6, 7, 8, 9, 10]

In [58]:
def modular_function(n):
    return lambda x: x ** n
    
power_of_2 = modular_function(2)  # first sub-function derived from def
power_of_3 = modular_function(3)  # second sub-function derived from def
power_of_4 = modular_function(4)  # third sub-function derived from def

print(power_of_2(2))  # 2 to the power of 2
print(power_of_3(2))  # 2 to the power of 3
print(power_of_4(2))  # 2 to the power of 4

4
8
16

In [59]:
def repeater(n):
    return lambda x: x * n
    
repeat_2_times = repeater(2)  # repeats 2 times
repeat_3_times = repeater(3)  # repeats 3 times
repeat_4_times = repeater(4)  # repeats 4 times

print(repeat_2_times('alex '))
print(repeat_3_times('lara '))
print(repeat_4_times('linda '))

alex alex
lara lara lara
linda linda linda linda

In [60]:
def modular_function(n):
    return lambda x: x ** n

power_of_3 = modular_function(3)
print(power_of_3(5))

125

In [61]:
print((lambda x: x**3)(5))

125

In [62]:
mean = lambda x, y: (x+y)/2
print(mean(8, 10))

9.0

In [63]:
multiply = lambda x: x * 4
add = lambda x, y: x + y
print(add(multiply(10), 5))

45

In [64]:
number_list = [1, 2, 3, 4]
result = map(lambda x:x**3, number_list)
print(list(result))

[1, 8, 27, 64]

In [65]:
number_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
divisible_list = filter(lambda x:x%3==0, number_list) 
print(list(divisible_list))

[0, 3, 6, 9, 12]

In [66]:
square = lambda x : x**2
square(5)

25

In [67]:
number_list=[1, 2, 3, 4, 5]

result= list(map(lambda x : x**2,number_list))

In [68]:
result

[1, 4, 9, 16, 25]

In [69]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result= list(filter(lambda x : x%2!=0, number_list))   
result

[1, 3, 5, 7, 9]