In [4]:
abs(-20)
abs(20.0)
abs(20+3j)
# abs() fonksiyonunu bir sayının mutlak değerini elde etmek için kullanıyoruz.

20.223748416156685

In [9]:
# round() fonksiyonu bir sayıyı belli ölçütlere göre yukarı veya aşağı doğru yuvarlamamızı sağlar. 
>>> round(12.4)

12

In [90]:
>>> round(abs(-125.7))

126

In [13]:
print(round(1.5))
print(round(12.5))
'''
kayan noktalı bir sayının üst ve alt tam sayılara olan uzaklığının birbirine 
eşit olduğu durumlarda Python’ın çift sayıya doğru yuvarlama yapmayı tercih etmektedir. 
Mesela yukarıdaki örneklerde 1.5 sayısı hem 1 sayısına, hem de 2 sayısına eşit uzaklıkta bulunuyor.
İşte Python bu durumda, bir çift sayı olan 2 sayısına doğru yuvarlamayı tercih edecektir.
'''

2
12

In [18]:
'''round() fonksiyonu toplam iki parametre alır. İlk parametre, yuvarlanacak sayının kendisidir.
Yuvarlama hassasiyetini belirlemek için ise ikinci bir parametreden yararlanabiliriz.
verdiğimiz ikinci parametre, yuvarlama işleminin ne kadar hassas olacağını belirliyor.
'''
print(round(22/7))
print(round(22/7, 0))
print(round(22/7, 1))
print(round(22/7, 2))
print(round(22/7, 3))
print(round(22/7, 4))

3
3.0
3.1
3.14
3.143
3.1429

In [1]:
def all(iterable):
    for element in iterable:
        if not element:
            return False
    return True
'''
Bu fonksiyonun görevi de bu anlamı çağrıştırır. all() fonksiyonunun görevi, 
bir dizi içinde bulunan bütün değerler True ise True değeri, 
eğer bu değerlerden herhangi biri False ise de False değeri döndürmektir.
'''

In [5]:
a = 3
>>> t1 = a == 3         #sayı 3 mü?
>>> t2 = a < 4          #sayı 4'ten küçük mü?
>>> t3 = a % 2 == 1     #sayı bir tek sayı mı?
>>> all([t1, t2, t3])   #sayı bu özelliklerin hepsine sahip mi?

True

In [95]:
>>> liste = ['ahmet', 'mehmet', '']
>>> all(liste)

False

In [92]:
mylist = [0, 1, 1]
x = all(mylist)
x

False

In [38]:
mytuple = (0, True, False)
x = all(mytuple)
x

False

In [39]:
myset = {0, 1, 0}
x = all(myset)
x

False

In [96]:
mydict = {0 : "Apple", 1 : "Orange"}
x = all(mydict)
x
# When used on a dictionary, the all() function checks if all the keys are true, not the values.

True

In [104]:
>>> liste = []
all(liste)

True

In [ ]:
def any(iterable):
    for element in iterable:
        if element:
            return True
    return False
'''
any() fonksiyonunun True çıktısı verebilmesi için listede yalnızca bir adet True 
değerli öğe olması yeterlidir. Bu fonksiyonun False çıktısı verebilmesi için dizi 
içindeki bütün öğelerin bool değerinin False olması gerekir
'''

In [8]:
>>> liste = ['ahmet', 'mehmet', '']
>>> any(liste)
# İçi boş veri tiplerinin bool değerinin False olduğunu biliyorsunuz.

True

In [108]:
mytuple = (0, 1, False)
x = any(mytuple)
x

True

In [35]:
myset = {0, 1, 0}
x = any(myset)
x

True

In [36]:
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
x
# When used on a dictionary, the any() function checks if any of the keys are true, not the values.

True

In [ ]:
# Tıpkı all() fonksiyonunda olduğu gibi, any() fonksiyonunu da, bir grup nesnenin bool değerlerini 
# denetlemek amacıyla kullanabilirsiniz.

In [20]:
x = ascii("My name is Ståle")
x

"'My name is St\\xe5le'"

In [21]:
>>> print(ascii('\n!'))

'\n!'

In [23]:
>>> a = 'ışık'
>>> print(ascii(a))
#'\u0131\u015f\u0131k'

'\u0131\u015f\u0131k'

In [24]:
>>> for i in a:
...     print(ascii(i))

'\u0131'
'\u015f'
'\u0131'
'k'

In [26]:
>>> liste = ['elma', 'armut', 'erik']
>>> temsil = ascii(liste)
>>> print(temsil)
>>> print(type(temsil))

'''
Burada listemiz ascii() fonksiyonuna parametre olarak verildikten sonra artık liste 
olma özelliğini yitirip bir karakter dizisi haline gelir. 
'''

['elma', 'armut', 'erik']
<class 'str'>

In [109]:
>>> temsil[2]

'e'

In [30]:
'''
repr() fonksiyonunun yaptığı iş, biraz önce gördüğümüz ascii() fonksiyonunun yaptığı 
işe çok benzer. Bu iki fonksiyon, ASCII olmayan karakterlere muameleleri 
açısından birbirinden ayrılır.
'''
print(ascii('şeker'))
print(repr('şeker'))
'''repr() fonksiyonu ise ASCII olmayan karakterlerle karşılaşsa bile, bize çıktı 
olarak bunların da karakter karşılıklarını gösterir.
Geri kalan özellikleri bakımından repr() ve ascii() fonksiyonları birbiriyle aynıdır.
'''

'\u015feker'
'şeker'

In [31]:
>>> bin(12)
# Bu fonksiyonun verdiği çıktının bir sayı değil, karakter dizisi olduğuna dikkat etmelisiniz.
# The result will always start with the prefix 0b.
8  4  2  1
1  1  0  0

'0b1100'

In [48]:
'''
The filter() function returns an iterator were the items are filtered 
through a function to test if the item is accepted or not.

filter(function, iterable)
'''
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
    if x < 18:
        return False
    else:
        return True

adults = filter(myFunc, ages)

for x in adults:
    print(x)

18
24
32

In [50]:
'''
The callable() function returns True if the specified object is callable, 
otherwise it returns False.
callable(object)
The object: you want to test if it is callable or not. (cagrilabilir obje)
'''
def x ():
    a = 5

print(callable(x))

True

In [52]:
# A normal variable is not callable:
x = 5
print(callable(x))

False

In [53]:
'''
The compile() function returns the specified source as a code object, ready to be executed.
compile(source, filename, mode, flag, dont_inherit, optimize)
'''
x = compile('print(55)', 'test', 'eval')
exec(x)

55

In [54]:
x = compile('print(55)\nprint(88)', 'test', 'exec')
exec(x)

55
88

In [55]:
'''
The eval() function evaluates the specified expression, if the expression 
is a legal Python statement, it will be executed.
eval(expression, globals, locals)
    expression : A String, that will be evaluated as Python code
    globals  : Optional. A dictionary containing global parameters
    locals : Optional. A dictionary containing local parameters
'''
x = 'print(55)'
eval(x)

55

In [56]:
'''
The exec() function executes the specified Python code.

The exec() function accepts large blocks of code, 
unlike the eval() function which only accepts a single expression

exec(object, globals, locals)
'''
x = 'name = "John"\nprint(name)'
exec(x)

John

In [62]:
'''
The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object.
The enumerate() function adds a counter as the key of the enumerate object.

enumerate(iterable, start)

iterable	An iterable object
start	A Number. Defining the start number of the enumerate object. Default 0
'''
x = ('apple', 'banana', 'cherry')
y = enumerate(x, 5)
print(list(y))

[(5, 'apple'), (6, 'banana'), (7, 'cherry')]

In [63]:
'''
The reversed() function returns a reversed iterator object.
reversed(sequence)
'''
# The iter() function returns an iterator object.
# The list.reverse() method reverses a List.
alph = ["a", "b", "c", "d"]
ralph = reversed(alph)
for x in ralph:
    print(x)

d
c
b
a

In [68]:
'''
The format() function formats a specified value into a specified format.
format(value, format)
'''
y = format(0.5, '%')
print(y)
x = format(255, 'x')
print(x)

50.000000%
ff

In [181]:
'''
value	A value of any format
format	The format you want to format the value into.
Legal values:

'<' - Left aligns the result (within the available space)
'>' - Right aligns the result (within the available space)
'^' - Center aligns the result (within the available space)
'=' - Places the sign to the left most position
'+' - Use a plus sign to indicate if the result is positive or negative
'-' - Use a minus sign for negative values only
' ' - Use a leading space for positive numbers
',' - Use a comma as a thousand separator
'_' - Use a underscore as a thousand separator
'b' - Binary format
'c' - Converts the value into the corresponding unicode character
'd' - Decimal format
'e' - Scientific format, with a lower case e
'E' - Scientific format, with an upper case E
'f' - Fix point number format
'F' - Fix point number format, upper case
'g' - General format
'G' - General format (using a upper case E for scientific notations)
'o' - Octal format
'x' - Hex format, lower case
'X' - Hex format, upper case
'n' - Number format
'%' - Percentage format
'''
format(12, '.2b')

ValueError: Precision not allowed in integer format specifier

In [77]:
'''
The divmod() function returns a tuple containing the quotient  and 
the remainder when argument1 (dividend) is divided by argument2 (divisor).
divmod(dividend, divisor)
dividend	A Number. The number you want to divide
divisor	A Number. The number you want to divide with
'''
x = divmod(15, 2)
x

(7, 1)

In [111]:
'''
The chr() function returns the character that represents the specified unicode.
'''
x = chr(97)
x
# Convert back to unicode with the ord() function.

'a'

In [113]:
# Convert an integer representing the Unicode of the specified character
#The ord() function returns the number representing the unicode code of a specified character.
# ord(character)
# character	String, any character
x = ord("h")
x

104

In [114]:
'''
The hex() function converts the specified number into a hexadecimal value.
The returned string always starts with the prefix 0x.
hex(number)
number	An Integer
'''
x = hex(255)
x

'0xff'

In [122]:
'''
The id() function returns a unique id for the specified object.
All objects in Python has its own unique id.
The id is assigned to the object when it is created.
The id is the object's memory address, and will be different for 
each time you run the program. (except for some object that has a 
constant unique id, like integers from -5 to 256)

id(object)
object	Any object, String, Number, List, Class etc.
'''
x = ('apple', 'banana', 'cherry')
y = id(x)
print(y)
# This value is the memory address of the object and will be different every time you run the program

2755588352192

In [136]:
'''
The bytes() function returns a bytes object.
It can convert objects into bytes objects, or create 
empty bytes object of the specified size.
The difference between bytes() and bytearray() is that bytes() 
returns an object that cannot be modified, and bytearray() returns 
an object that can be modified.
bytes(x, encoding, error)
x	A source to use when creating the bytes object.

If it is an integer, an empty bytes object of the specified size will be created.

If it is a String, make sure you specify the encoding of the source.

encoding	The encoding of the string
error	Specifies what to do if the encoding fails.

'''
x = bytes(10)
print(x)
'''
 bytes(10) komutuyla oluşturduğumuz a değişkeni içinde toplam 10 adet bayt var
 ve bu baytların her birinin değeri 0. 
'''

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

In [137]:
bytes('istihza')

TypeError: string argument without an encoding

In [151]:
'''
bytes() adlı fonksiyon, bytes türünde veriler oluşturmaya yarar. 
Bu fonksiyon işlev olarak, daha önce öğrendiğimiz list(), str(), int(), set(), dict() 
gibi fonksiyonlara çok benzer. Tıpkı bu fonksiyonlar gibi, bytes() fonksiyonunun 
görevi de farklı veri tiplerini ‘bayt’ adlı veri tipine dönüştürmektir.

'''
print(bytes('istihza', encoding='ascii'))
print(bytes('ışık', 'utf-8'))
print(bytes('ışık', 'cp1254'))
print(bytes('ışık', 'cp857'))
'''
bytes() fonksiyonuna parametre olarak bir karakter dizisi verebilmek için, 
bu karakter dizisi ile birlikte bir kod çözücü de belirtmemiz gerekiyor. 
Böylece bytes() fonksiyonu kendisine verdiğimiz karakter dizisini, 
belirttiğimiz kod çözücünün kurallarına göre bayta dönüştürüyor.
'''
print(bytes('ışık', encoding='ascii', errors='replace'))
print(bytes('ışık', encoding='ascii', errors='ignore'))

b'istihza'
b'\xc4\xb1\xc5\x9f\xc4\xb1k'
b'\xfd\xfe\xfdk'
b'\x8d\x9f\x8dk'
b'???k'
b'k'

In [ ]:
'''baytlar değiştirilemeyen bir veri tipidir. Dolayısıyla bir bayt veri 
tipi üzerinde herhangi bir değişiklik yapamayız. 
Ama eğer hem baytlarla çalışmak, hem de bu baytların üzerinde 
değişiklik yapabilmek isterseniz baytlar yerine bayt dizileri 
ile çalışabilirsiniz. İşte bunun için bytearray() adlı bir fonksiyondan yararlanıyoruz.
'''

In [134]:
'''
The bytearray() function returns a bytearray object.
It can convert objects into bytearray objects, or create empty bytearray object of the specified size.
bytearray(x, encoding, error)
x	A source to use when creating the bytearray object.

If it is an integer, an empty bytearray object of the specified size will be created.

If it is a String, make sure you specify the encoding of the source.
encoding	The encoding of the string
error	Specifies what to do if the encoding fails.

'''
x = bytearray(4)
print(x)

'''
Yaptıkları iş bakımından bytearray() ve bytes() fonksiyonları birbirlerine çok benzer. 
Bu ikisi arasındaki tek fark, bytearray() ile oluşturulan veri tipinin, 
bytes() ile oluşturulan veri tipinin aksine, değiştirilebilir nitelikte olmasıdır:

'''

bytearray(b'\x00\x00\x00\x00')

In [158]:
a = bytearray('adana', 'ascii')
a

bytearray(b'adana')

In [ ]:
'''
eval(), exec(), globals(), locals(), compile()
Bu bölümde beş farklı fonksiyonu bir arada inceleyeceğiz. 
Bu fonksiyonları birlikte ele almamızın nedeni bunların birbiriyle yakından bağlantılı olması.


expression denen ‘ifadeler’, bir değer üretmek için kullanılan kod parçalarıdır. 
Karakter dizileri, sayılar, işleçler, öteki veri tipleri, liste üreteçleri, 
sözlük üreteçleri, küme üreteçleri, fonksiyonlar hep birer ifadedir.
>>> 5

>>> 23 + 4

>>> [i for i in range(10)]

>>> len([1, 2, 3])


statement olarak adlandırılan ‘deyimler’ ise ifadeleri de kapsayan daha 
geniş bir kavramdır. Buna göre bütün ifadeler aynı zamanda birer deyimdir. 
Daha doğrusu, ifadelerin bir araya gelmesi ile deyimler oluşturulabilir.
>>> a = 5

>>> if a:
        print(a)

>>> for i in range(10):
        print(i)
        
        
Python programlama dilinde deyimlerle ifadeleri ayırt etmenin kolay 
bir yolu da eval() fonksiyonundan yararlanmaktır. 

'''

In [159]:
eval('a = 5')
'''
eval() fonksiyonu bize bir hata mesajı verdi. Çünkü a = 5 kodu bir deyimdir. 
Unutmayın, Python’da bütün değer atama işlemleri birer deyimdir. 
Dolayısıyla eval() fonksiyonu bu deyimi parametre olarak alamaz.

'''

SyntaxError: invalid syntax (<string>, line 1)

In [160]:
eval('5 + 25')
'''
Bu defa hata almadık. Çünkü eval() fonksiyonuna, olması gerektiği gibi, 
parametre olarak bir ifade verdik. Bildiğiniz gibi, 5 + 25 kodu bir ifadedir.

'''

30

In [168]:
#exec('a = 5')
# print(a)
'''
exec() fonksiyonu, mevcut isim alanı içinde a adlı bir değişken oluşturdu. 
Yalnız elbette mevcut isim alanı içinde yeni değişkenler ve yeni değerler 
oluştururken dikkatli olmamız gerektiğini biliyorsunuz. Zira mesela yukarıdaki 
komutu vermeden önce mevcut isim alanında zaten a adlı bir değişken varsa, 
o değişkenin değeri değişecektir:

'''
a = 20
exec('a = 10')
print(a)

'''
değeri 20 olan a adlı bir değişken var. Şimdi exec() fonksiyonu yardımıyla 
a değişkeninin de içinde yer aldığı mevcut isim alanına müdahale ediyoruz:
Böylece a değişkeninin eski değerini silmiş olduk.
'''

10

'\n\n'

In [171]:
'''
exec() ile oluşturduğunuz değişkenleri global isim alanına değil de, 
farklı bir isim alanına göndermeyi tercih edebilirsiniz. 
Python programlama dilinde isim alanları sözlük tipinde bir veridir. 
Örneğin global isim alanı basit bir sözlükten ibarettir.

Global isim alanını gösteren sözlükte hangi anahtar ve 
değerlerin olduğunu görmek için globals() adlı bir fonksiyonu kullanabilirsiniz:


x = 10
şeklinde 10 değerine sahip bir x nesnesi tanımladıktan sonra 
globals() fonksiyonunu tekrar çalıştırırsanız global isim alanına 
bu nesnenin de eklenmiş olduğunu görürsünüz.

Dediğimiz gibi, globals() fonksiyonundan dönen nesne bir sözlüktür. 
Bu sözlüğe, herhangi bir sözlüğe veri ekler gibi değer de ekleyebilirsiniz:
'''
globals()['z'] = 23

#Bu şekilde global isim alanına z adlı bir değişken eklemiş oldunuz:

z

23

In [172]:
'''
Python’da global isim alanı dışında bir de lokal isim alanı bulunur. 
Lokal isim alanlarının, fonksiyonlara (ve ileride göreceğimiz gibi 
sınıflara) ait bir isim alanı olduğunu biliyorsunuz. İşte bu isim 
alanlarına ulaşmak için de locals() adlı bir fonksiyondan yararlanacağız:

'''
def fonksiyon(param1, param2):
    x = 10
    print(locals())

fonksiyon(10, 20)

{'param1': 10, 'param2': 20, 'x': 10}

In [174]:
'''
The delattr() function will delete the specified attribute from the specified object.

delattr(object, attribute)

object	Required. An object.
attribute	Required. The name of the attribute you want to remove
'''
class Person:
    name = "John"
    age = 36
    country = "Norway"

delattr(Person, 'age')
# The Person object will no longer contain an "age" property

In [176]:
'''
The hasattr() function returns True if the specified object has the 
specified attribute, otherwise False.

hasattr(object, attribute)

object	Required. An object.
attribute	The name of the attribute you want to check if exists
'''
class Person:
    name = "John"
    age = 36
    country = "Norway"

x = hasattr(Person, 'age')
print(x)

True

In [177]:
'''
The setattr() function sets the value of the specified attribute of the specified object.

setattr(object, attribute, value)

object	Required. An object.
attribute	Required. The name of the attribute you want to set
value	Required. The value you want to give the specified attribute
'''

class Person:
  name = "John"
  age = 36
  country = "Norway"

setattr(Person, 'age', 40)
# The age property will now have the value: 40

x = getattr(Person, 'age')
print(x)

40

In [179]:
format(12, '.2f')

'12.00'

In [182]:
l = [400, 176, 64, 175, 355, 13, 207, 298, 397, 386, 31, 120, 120, 236, 241, 123, 249, 364, 292, 153]
for i in l:
    if i % 2 == 1:
        print(i)

175
355
13
207
397
31
241
123
249
153

In [183]:
[i for i in l if i % 2 == 1]

[175, 355, 13, 207, 397, 31, 241, 123, 249, 153]

In [184]:
def tek(sayı):
    return sayı % 2 == 1

print(*filter(tek, l))

175 355 13 207 397 31 241 123 249 153