In [1]:
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
print(country)

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']

In [2]:
string_1 = 'I quit smoking'

new_list_1 = list(string_1)  # we created multi element list
print(new_list_1)

new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']

In [3]:
mixed_list = [11, 'Joseph', False, 3.14, None, [1, 2, 3]]

warning = 'You must quit smoking!'

print(len(list(warning)))

22

In [4]:
empty_list_1 = []
empty_list_1.append('114')
empty_list_1.append('112')
empty_list_1.append('plastic-free sea')

print(empty_list_1)

['114', '112', 'plastic-free sea']

In [17]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.append('Addis Ababa')
city.append("Ankara") # we have append 'Ankara'
print(city) 

city.remove('London')  # we have deleted 'London'
print(city)

city.sort()  # lists the items in alphabetical order
print(city)   


city.insert(3, 'Berlin')
city.insert(1, 'Bergama')
city[4] = 'Eskisehir'
print(city)

print(len(city))

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa', 'Ankara']
['New York', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa', 'Ankara']
['Addis Ababa', 'Ankara', 'Istanbul', 'New York', 'Seoul', 'Sydney']
['Addis Ababa', 'Bergama', 'Ankara', 'Istanbul', 'Eskisehir', 'New York', 'Seoul', 'Sydney']
8

In [ ]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero, 
# the second element will be 'blue'.

In [19]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

city_list = []
city_list.append(city) # we have created a nested list

print(city_list)


city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

print(city_list[0]) # access to first and only element

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [21]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

print(city_list[0][2])

print(city_list[0][2][3])

Istanbul
a

In [28]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []

fruit_list.insert(0, fruits)

print(fruit_list)

print(fruit_list[0][2])
print(fruit_list[0][2][6])

[['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']]
watermelon
e

In [29]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])  # we get the elements from index=2 to index=5(5 is not included)

[5, 7, 9]

In [ ]:
# You can keep in mind the formula syntax below for slicing a sequence. 
# From 'start' to 'stop-1', by 'step'.

In [33]:
count = list(range(11))
# count = list(range(6))
print(count)

print(count[0:11:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]

In [39]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

print(animals[:])  # all elements of the list
print(animals[3:]) 
print(animals[:5])
print(animals[::2])

['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
['wolf', 'rabbit', 'deer', 'giraffe']
['elephant', 'bear', 'fox', 'wolf', 'rabbit']
['elephant', 'fox', 'rabbit', 'giraffe']

In [40]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [41]:
print(len([[12, 34, 56]]))

1

In [44]:
print(len([[12, 34, 56]][0]))  #anlamadim
print([[12, 34, 56]],[0])

3
[[12, 34, 56]] [0]

In [45]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4])

London

In [46]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:])

['lobster', 'squid', 'octopus']

In [47]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-3])

['swordfish', 'shark', 'whale', 'jellyfish']

In [48]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-1])  # we have produced the reverse of the list

['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

In [49]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-2])

['octopus', 'lobster', 'whale', 'swordfish']

In [50]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1])

[8, 7, 6, 5]
[]

In [53]:
my_list = [1, 2, 3, 4, 5, 6]
new_list =[]
my_list

[1, 2, 3, 4, 5, 6]

In [64]:
for x in my_list:
    if x % 2 != 0:
        new_list.append(x ** 2)
print(new_list)

[1, 9, 25, 1, 9, 25, 1, 9, 25, 1, 9, 25, 1, 9, 25, 1, 9, 25, 1, 9, 25, 1, 9, 25, 1, 9, 25, 1, 9, 25, 1, 9, 25]

In [66]:
print([x ** 2 for x in my_list if x %2 !=0])

[1, 9, 25]

In [67]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [68]:
try_tuple = ('love')

print(try_tuple)

print(type(try_tuple)) # it's not tuple type.

love
<class 'str'>

In [69]:
try_tuple = ('love',)

print(try_tuple)

print(type(try_tuple)) # it's a tuple type.

('love',)
<class 'tuple'>

In [70]:
planets = 'mercury', 'jupiter', 'saturn'

print(planets)
print(type(planets))

('mercury', 'jupiter', 'saturn')
<class 'tuple'>

In [71]:
empty_tuple_1 = tuple()

print(empty_tuple_1)
print(type(empty_tuple_1))

()
<class 'tuple'>

In [72]:
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)

my_list = list(my_tuple)

print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [73]:
my_list = [1, 4, 3, 4, 5, 6, 7, 4]

my_tuple = tuple(my_list)

print(type(my_tuple), my_tuple)

<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [74]:
mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')

In [75]:
mix_value_tuple = (0, 'bird', 3.14, True)

print(len(mix_value_tuple))

4

In [77]:
even_no = (0, 2, 4)
print(even_no[0])    
print(even_no[1])    
print(even_no[2])   
print(even_no[:2])

0
2
4
(0, 2)

In [78]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_list[0] = 'Athens'
city_list[1] = 'Cairo'
print(city_list)

['Athens', 'Cairo', 'Moskow', 'Dublin']

In [79]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)

city_tuple[0] = 'New York'  # you can't assign a value

TypeError: 'tuple' object does not support item assignment

In [80]:
mix_value = (10, False, 'fruit', 1.618)
mix_value.append(['vegetable', 2+3j])

print(len(mix_value))

AttributeError: 'tuple' object has no attribute 'append'

In [123]:
# my_list = [4, 5, 2, 8, 10, 6, 7, 1, 9, 3]
my_list = list(range(1,11))
my_list.sort(reverse = True)
print(my_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

In [131]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print(grocer[1][1][1:6:2])

['eggplant', 'spinach', 'leek']

In [135]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [147]:
sentence = "I am 40 years old. I have two children. Data Science is my IT domain."
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old.{}I have two children.{}Data Science is my IT domain.".format(escapes[0], escapes[2][1])
print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.