# Soru 1
Get the total number of seconds from the user. Write a program that returns the total seconds in hours, minutes and seconds.
For example: 4565436 seconds is 1268 hours, 10 minutes and 36 seconds.

In [2]:
seconds = int(input("Please enter total seconds: "))
minute = seconds // 60
remainder_sec = seconds % 60
hour = minute // 60
print("{} seconds is {} hours, {} minutes and {} seconds.".format(seconds, hour, minute, remainder_sec))

Please enter total seconds: 4565436
4565436 seconds is 1268 hours, 76090 minutes and 36 seconds.

# Soru 2

Write a Python code that find the students who have maximum and minimum average at below. 

grades={'Student-1': {'Lesson-1': 57, 'Lesson-2': 46, 'Lesson-3': 58, 'Lesson-4': 81, 'Lesson-5': 85}, 
               'Student-2': {'Lesson-1': 85, 'Lesson-2': 56, 'Lesson-3': 51, 'Lesson-4': 69, 'Lesson-5': 67}, 
               'Student-3': {'Lesson-1': 68, 'Lesson-2': 76, 'Lesson-3': 87, 'Lesson-4': 57, 'Lesson-5': 56}, 
               'Student-4': {'Lesson-1': 78, 'Lesson-2': 93, 'Lesson-3': 88, 'Lesson-4': 38, 'Lesson-5': 54}, 
               'Student-5': {'Lesson-1': 50, 'Lesson-2': 46, 'Lesson-3': 78, 'Lesson-4': 81, 'Lesson-5': 75}}

In [ ]:
grades={'Student-1': {'Lesson-1': 57, 'Lesson-2': 46, 'Lesson-3': 58, 'Lesson-4': 81, 'Lesson-5': 85}, 
               'Student-2': {'Lesson-1': 85, 'Lesson-2': 56, 'Lesson-3': 51, 'Lesson-4': 69, 'Lesson-5': 67}, 
               'Student-3': {'Lesson-1': 68, 'Lesson-2': 76, 'Lesson-3': 87, 'Lesson-4': 57, 'Lesson-5': 56}, 
               'Student-4': {'Lesson-1': 78, 'Lesson-2': 93, 'Lesson-3': 88, 'Lesson-4': 38, 'Lesson-5': 54}, 
               'Student-5': {'Lesson-1': 50, 'Lesson-2': 46, 'Lesson-3': 78, 'Lesson-4': 81, 'Lesson-5': 75}}

average_s1 = sum(grades['Student-1'].values()) / len(grades['Student-1'].values())
average_s2 = sum(grades['Student-2'].values()) / len(grades['Student-2'].values())
average_s3 = sum(grades['Student-3'].values()) / len(grades['Student-3'].values())
average_s4 = sum(grades['Student-4'].values()) / len(grades['Student-4'].values())
average_s5 = sum(grades['Student-5'].values()) / len(grades['Student-5'].values())
class_notes = {'Student-1':average_s1, 'Student-2':average_s2,'Student-3': average_s3,'Student-4': average_s4,
               'Student-5':average_s5}
max_note_name = max(class_notes)
min_note_name = min(class_notes)
max_note = max(class_notes.values())
min_note = min(class_notes.values())
print(f"In this class maximum note is {max_note_name} {max_note} and minimum note is {min_note_name} {min_note}")

# SORU 3
Write a Python script to concatenate following dictionaries to create a new one.

Sample Dictionary :
* dic1={1:10, 2:20}
* dic2={3:30, 4:40}
* dic3={5:50,6:60}
* Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [13]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
dic4.update(dic1)
dic4.update(dic2)
dic4.update(dic3)
dic4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

# SORU 4

Program that prints the reverse of the number given in integer format without using a loop, leaving a space between them.
For example :
num = 7356
Output = 6537

In [2]:
num = int(input("please enter a number : "))
print(num % 10, (num % 100 -num % 10 ) // 10, (num % 1000 - num % 100) // 100, (num % 10000 - num % 1000) // 1000)

please enter a number : 7536
6 3 5 7

In [3]:
num = 7536
print(num % 10, (num % 100 -num % 10 ) // 10, (num % 1000 - num % 100) // 100, (num % 10000 - num % 1000) // 1000)

6 3 5 7

# SORU 5

Given a list, right rotate the list by n position.

Write a program to shift every element of a list to circularly right.

In [4]:
#kaç birim kaydırmak istediğimiz sayıyı gidiyoruz.
num = int(input(""))
liste = [1, 2, 3, 4, 5, 6]
new_liste = liste[len(liste)- num:] +liste[0:len(liste)- num]
new_liste

3

[4, 5, 6, 1, 2, 3]