In [1]:
a = 20 
print(bin(a))
print(hex(a))
print(oct(a))

0b10100
0x14
0o24

In [1]:
b = 100
print(bin(100))
print(hex(100))
print(oct(100))

0b1100100
0x64
0o144

In [4]:
# float in exponential
b =1.2e3
print(type(b))

<class 'float'>

# In int type reusing is allowed from '0 to 256' only

In [5]:
x = 1
y = 1 
x is y

True

In [5]:
x  = 0
y =  0
x = y 
x is y

True

In [6]:
y is x

True

In [7]:
x = 256 
y = 256

x is y

True

In [9]:
x = 257 
y = 257
x is y   #Output will be False because reusing is allowed upto 256 only

False

In [12]:
x = True
y = True
x is y
y is x

True

In [13]:
y is x

True

In [14]:
x = 1.0
y = 1.0
x is y

False

In [16]:
x = 10 + 2j
y = 10 + 2j
x is y

False

In [18]:
a = 9
b = 3

In [19]:
a + b

12

In [20]:
print(a/b)  # '/' returns floaing values

3.0

In [ ]:
print(a/b)  3 '//' # removes floating values

In [21]:
print(* "Muhammet")

M u h a m m e t

In [23]:
print("Muhammet " *3)

Muhammet Muhammet Muhammet

In [27]:
import string

In [31]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [32]:
ascii_uppercase= 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [33]:
print(ascii_uppercase.split(","))

['ABCDEFGHIJKLMNOPQRSTUVWXYZ']

In [34]:
ascii_uppercase= 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
empty_list = []

for i in ascii_uppercase:
    empty_list+=[ord(i)]
print(empty_list)

[65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

In [35]:
a  = [65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

empty_list = []

for i in a : 
    empty_list+=[chr(i)]
print(empty_list)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [36]:
b = [97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122]

empty_list=[]

for i in b :
    empty_list+=[chr(i)]
print(empty_list)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [26]:
lowercase_characters = ['a','b','c','d','e','f','g','h','i','j','k','l',
              'm','n','o','p','q','r','s','t','u','v','w','x','y','z']
empy_list = []
for i in lowercase_characters:
    empy_list+=[ord(i)]
print(empy_list)

[97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122]

In [37]:
chr(97)

'a'

In [38]:
chr(65)

'A'

In [41]:
name  = "Muhammet"
name1 = "Muhammet"
print(name > name1)
print(name < name1)
print(name == name1)
print(name <= name1)
print(name >=name1)

False
False
True
True
True

In [42]:
name  = "Muhammet"  #### Ascii kodlarda küçük harfler daha büyük değere sahiptir
name1 = "muhammet"
print(name > name1)
print(name < name1)
print(name == name1)
print(name <= name1)
print(name >=name1)

False
True
False
True
False

In [44]:
print(True>True)

False

In [45]:
print(True>False)

True

In [46]:
print(True>=True)

True

In [47]:
print(True>=False)

True

In [48]:
print(True<True)

False

In [49]:
print(True<=True)

True

In [50]:
print(True<False)

False

In [51]:
print(True<=False)

False

In [ ]:
"== "----> equal
"!= "----> Not equal

In [ ]:
a = 10
b = 20

In [52]:
print(a==b)
print(a!=b)

False
True

In [53]:
True or False

True

In [54]:
True or True

True

In [55]:
False and False

False

In [56]:
print(not True)

False

In [57]:
print(not False)

True

In [59]:
a = 10
b = 20

print(a and b)  # b prints because a evaluates to True

20

In [60]:
print(a or b)

10

In [61]:
print(not a)

False

In [62]:
print(not b)

False

In [63]:
a = 0
b = 10
print(a and b)

0

In [64]:
print(a or b)

10

In [65]:
a = 'Muhammet'
b = 'Data scientist'
print(a and b)
print(a or b)

Data scientist
Muhammet

In [66]:
a = ''
b = 'Muhammet'
print(a and b)   # Prints as empty
print(a or b)

Muhammet

In [69]:
a = ''
b = ''
print(a and b)
print(a or b)    # Prints nothing because both values are empty

In [70]:
a = ''
b = ''
print(not a)
print(not b)

True
True

In [7]:
a = 10
a+= 30  # (a+=a +30(10+30=40))
a

40

In [8]:
a = 40
a -=20 
a

20

In [10]:
a = 6
a/=3
a

2.0

In [12]:
a = 6
a //=3
a

2

In [13]:
a = 3
a*= 10
a

30

In [14]:
a = 9
a**=2
print(a)

81

In [16]:
a = 10
b = 20
c = a if a > b else b
print(c)

20

In [18]:
x = 20
y = 30
z = x if x > y else y
z

30

In [20]:
l1 = [10, 20, 30, 40]
l2 = [10, 20, 30, 40]
print(l1 is l2)
print(l1 == l2)

False
True

In [ ]:
opreratör öncelik sırası :
1.  ( )-------->Paranthesis

2.  **--------->Exponential operator

3.  ~ --------->Bitwise Complementary

4. '*','/','%','//'--->Multiplication, Division, Modulo, Floor Division

5. '+','-' -----------> Addition, Subtraction

=,+=,-=,*= ---------------> Assignment operator

is, not is ----------------> Identity operators¶

in, not in ----------------> Membership operator

not , and, or------------------------> logical operators

In [24]:
a = 30
b = 20
c = 40
print((a + b)*c/b)  # First (a + b) operators , c/b finally *

100.0

In [26]:
import math

In [27]:
print(math.sqrt(16))
print(math.pi)
print(math.floor(3.6))
print(math.ceil(3.2))

4.0
3.141592653589793
3
4

In [28]:
a = input("Enter a word : ") # İnput fonksiyonun default değeri "str" datatype
print(a)
print(type(a))

Enter a word : Muhammet
Muhammet
<class 'str'>

In [29]:
a = input("Enter the name : ")
b = int(input("Enter the age : "))
c = input("Enter the occupation :")
d = bool(input("İs married?[True/False] :"))
e = float(input("Expected salary as a fresher : "))
print()
print("Name : ", a)
print("Age", b)
print("Occupation:", c)
print("İs married", d)
print("Salary", e)

Enter the name : muhammet
Enter the age : 35
Enter the occupation :developer
İs married?[True/False] :True
Expected salary as a fresher : 20.200

Name :  muhammet
Age 35
Occupation developer
İs married True
Salary 20.2

In [32]:
a = input("Enter two numbers : ")
a

Enter two numbers : 10 20

'10 20'

In [42]:
print(input("Enter tree numbers : ").split(","))

Enter tree numbers : 10 20 30
['10 20 30']

In [43]:
a = ['10 20 30']
a[0]

'10 20 30'

In [47]:
a, b, c = [int(x) for x   in input("Enter tree numbers : ").split(",")]
print("The sum of a,b, c is : ", a+b+c)

Enter tree numbers : 10,20,30
The sum of a,b, c is :  60

In [48]:
a, b, c = [int(x) for x   in input("Enter tree numbers : ").split(",")]
print("The sum of a,b, c is : ", a*b*c)

Enter tree numbers : 10,20,30
The sum of a,b, c is :  6000

In [50]:
a, b, c = [float(x) for x   in input("Enter tree numbers : ").split(",")]
print("The sum of a,b, c is : ", a*b*c)

Enter tree numbers : 2.3,2.6,6.7
The sum of a,b, c is :  40.065999999999995

# eval( ) function

In [ ]:
Since the input( ) takes as string by default, we are converting into required types
Instead of using int( ), float( ), bool( ) before input( ), we can use eval( )¶
eval( ) understands what type of input we are giving.

In [51]:
a = eval(input("Enter a word : "))
print()
print(a)
print(type(a))

Enter a word : 20

20
<class 'int'>

In [52]:
a = eval(input("Enter a word : "))
print()
print(a)
print(type(a))

Enter a word : 10.5

10.5
<class 'float'>

In [53]:
a = eval(input("Enter a word : "))
print()
print(a)
print(type(a))

Enter a word : True

True
<class 'bool'>