In [ ]:
dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

In [1]:
first_dic = {1: "one", "two":2, False : [1, 2, 3]}
first_dic

{1: 'one', 'two': 2, False: [1, 2, 3]}

In [2]:
second_dict = {[1, 2, 3] : "liste", "clarus" : "the best"} 
second_dict   # list den key olmuyor

TypeError: unhashable type: 'list'

In [3]:
third_dict = {(1, 2, 3) : "liste", "clarus" : "the best"} 
third_dict        # tuple den key olabiliyor

{(1, 2, 3): 'liste', 'clarus': 'the best'}

In [4]:
four_dict = {{1: "bir", 2: "iki"} : "sozluk"} # dictionary den key olmuyor
four_dict

TypeError: unhashable type: 'dict'

In [6]:
fifth_dict = {"erkekler" : {"ahmet": 35, "mehmet" :44, "cevat": 17},\
             "bayanlar" : {"selvi" : 22, "bahar" : 55, "ayse":3 }}
fifth_dict

{'erkekler': {'ahmet': 35, 'mehmet': 44, 'cevat': 17},
 'bayanlar': {'selvi': 22, 'bahar': 55, 'ayse': 3}}

In [12]:
family = {"name1" : "joseph",
          "name2" : "Bella",
          "name3" : "Aisha"}
print(family)
family["name4"] = "Tom"
print(family)
len(family)

{'name1': 'joseph', 'name2': 'Bella', 'name3': 'Aisha'}
{'name1': 'joseph', 'name2': 'Bella', 'name3': 'Aisha', 'name4': 'Tom'}

4

In [14]:
ulke = {'turkiye' : 'istanbul',
        'almanya' : 'k√∂ln',
        'ispanya' : 'madrid'
        }
print(ulke['ispanya'])

madrid

In [15]:
family = {"name1" : "Halit",
          "name2" : "Fatma",
          "name3" : "Altan",
          "name4" : "Hafsa"}
print(family)

{'name1': 'Halit', 'name2': 'Fatma', 'name3': 'Altan', 'name4': 'Hafsa'}

In [17]:
family = dict(name1 = 'Halit', name2 = 'Fatma', name3 = 'Altan', name4 = 'Hafsa')
family

{'name1': 'Halit', 'name2': 'Fatma', 'name3': 'Altan', 'name4': 'Hafsa'}

In [18]:
n1, n2, n3 = 5, 15, 20
numbers = {n1 : "bes", n2 : "onbes", n3 : "yirmi"}
numbers

{5: 'bes', 15: 'onbes', 20: 'yirmi'}

In [95]:
sayilar = {"tek" : [],
           "cift": []}
sayilar

{'tek': [], 'cift': []}

In [98]:
type(sayilar["tek"])
type(sayilar["cift"])
sayilar["tek"].append(1)
sayilar["tek"].append(3)
sayilar["tek"].append(5)
sayilar["cift"].append(2)
sayilar["cift"].append(4)
sayilar

{'tek': [1, 1, 3, 5], 'cift': [2, 4]}

In [24]:
meyveler = {}.fromkeys(["elma", "armut"], 0)
meyveler

{'elma': 0, 'armut': 0}

In [27]:
# meyveler["elma"] = meyveler["elma"] + 1
meyveler["elma"] += 1
meyveler["armut"] += 1
meyveler

{'elma': 4, 'armut': 1}

In [28]:
meyveler["kivi"] = 5
meyveler

{'elma': 4, 'armut': 1, 'kivi': 5}

In [29]:
meyveler["elma"] = 9
meyveler

{'elma': 9, 'armut': 1, 'kivi': 5}

In [100]:
cisimler = {"cisim1" : "mouse", "cisim2" : "havlu"}
cisimler["cisim1"] += " klavye"
cisimler

{'cisim1': 'mouse klavye', 'cisim2': 'havlu'}

In [35]:
family = {"name1" : "joseph",
          "name2" : "Bella",
          "name3" : "Aisha"}
print(family.items())
print(family.keys())
print(family.values())

dict_items([('name1', 'joseph'), ('name2', 'Bella'), ('name3', 'Aisha')])
dict_keys(['name1', 'name2', 'name3'])
dict_values(['joseph', 'Bella', 'Aisha'])

In [36]:
family = {"animal" : "dog",
          "planet" : "neptun",
          "number" : 40,
          "pi" : 3.14,
          "is_good" : True}
print(family.items())
print(family.keys())
print(family.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])
dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])
dict_values(['dog', 'neptun', 40, 3.14, True])

In [37]:
dict_by_dict = {'animal':'dog',
			'planet': 'Neptun',
			'number': 40,
			'pi':3.14,
			'is_good': True}
list(dict_by_dict.items())

[('animal', 'dog'),
 ('planet', 'Neptun'),
 ('number', 40),
 ('pi', 3.14),
 ('is_good', True)]

In [38]:
list(dict_by_dict.values())

['dog', 'Neptun', 40, 3.14, True]

In [39]:
family = {"name1" : "joseph",
          "name2" : "Bella",
          "name3" : "Aisha"}
print(family.items())
print(family.keys())
print(family.values())

dict_items([('name1', 'joseph'), ('name2', 'Bella'), ('name3', 'Aisha')])
dict_keys(['name1', 'name2', 'name3'])
dict_values(['joseph', 'Bella', 'Aisha'])

In [40]:
dict_by_dict = {'animal':'dog',
			'planet': 'Neptun',
			'number': 40,
			'pi':3.14,
			'is_good': True}
dict_by_dict.update({"is_bad" : False, 3 : "uc"})
dict_by_dict

{'animal': 'dog',
 'planet': 'Neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'is_bad': False,
 3: 'uc'}

In [41]:
family = {"name1" : "joseph",
          "name2" : "Bella",
          "name3" : "Aisha"}
family.update({"name5" : "Alfred"})
family

{'name1': 'joseph', 'name2': 'Bella', 'name3': 'Aisha', 'name5': 'Alfred'}

In [42]:
dict_by_dict = {'animal':'dog',
			'planet': 'Neptun',
			'number': 40,
			'pi':3.14,
			'is_good': True}
del dict_by_dict["animal"]
dict_by_dict

{'planet': 'Neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [47]:
family = {"name1" : "Halit",
          "name2" : "Fatma",
          "name3" : "Altan",
          "name4" : "Hafsa"}
del family["name2"], family["name4"], family["name3"]
print(family)

{'name1': 'Halit'}

In [49]:
clarusway = ["ali", "veli", "deli"]
"zeka kupu" in clarusway
"deli" in clarusway

True

In [50]:
dict_by_dict = {'animal':'dog',
			'planet': 'Neptun',
			'number': 40,
			'pi':3.14,
			'is_good': True}
"dog" in dict_by_dict # in sadece keylerin arasinda ariyor, valuelerde degil

False

In [51]:
"dog" in dict_by_dict.values() # values lerin arasinda aramak icin boyle yapiyoruz

True

In [52]:
"dog" not in dict_by_dict

True

In [ ]:
# ancak bir value dictionary olabilir keyler uzerinden gitmiyoruz

In [56]:
school_records={
	'personal_info':
		{'kid':{'tom':{'class':'intermediate', 'age':10},
			'sue':{'class':'elemantary', 'age':8}
			},
		'teen':{'joseph':{'class':'college', 'age':19},
			'marry':{'class':'high school', 'age':16}
			},
		},
	'grades_info':
		{'kid':{'tom':{'math':88, 'speech':69},
			'sue':{'math':90, 'speech':81}
			},
		'teen':{'joseph':{'coding':80, 'math':89},
			'marry':{'coding':70, 'math':96}
			},
		}
}
len(school_records)

2

In [101]:
school_records["personal_info"]

{'kid': {'tom': {'class': 'intermediate', 'age': 10},
  'sue': {'class': 'elemantary', 'age': 8}},
 'teen': {'joseph': {'class': 'college', 'age': 19},
  'marry': {'class': 'high school', 'age': 16}}}

In [103]:
school_records["personal_info"].keys()

dict_keys(['kid', 'teen'])

In [104]:
school_records["personal_info"]["teen"]

{'joseph': {'class': 'college', 'age': 19},
 'marry': {'class': 'high school', 'age': 16}}

In [105]:
school_records["personal_info"]["teen"]["marry"]

{'class': 'high school', 'age': 16}

In [106]:
school_records["personal_info"]["teen"]["marry"].keys()

dict_keys(['class', 'age'])

In [60]:
school_records["personal_info"]["teen"]["marry"]["age"]

16

In [65]:
print(list(school_records["grades_info"]["teen"]["joseph"].items()))
print(school_records["grades_info"]["teen"]["joseph"])

[('coding', 80), ('math', 89)]
{'coding': 80, 'math': 89}

In [69]:
para = 1000
para = para + para * 0.07 #pazartesi
para = para + para * 0.07 #sali
para = para + para * 0.07 #carsamba
para

1225.0430000000001

In [71]:
para =1000
para = para * (1.07 ** 7) 
para

1605.7814764784307

In [139]:
samanlik = ["yumurta", "saman", "inek", "tavuk", "yaba", "esarp", "igne"]
print(type(samanlik))
print(f"ignemiz {samanlik.index('igne')} numarali indextedir.")

<class 'list'>
ignemiz 6 numarali indextedir.