In [14]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 1, 2
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result
    
    # Now call the function we just defined:
fib(56)

[1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
def fib(n):    # write Fibonacci series up to n
                """Print a Fibonacci series up to n."""
        """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        print(a, end=',')
        a, b = b, a+b
    print()
    
    # Now call the function we just defined:
fib(2000)

In [15]:
def modular_function(n):
    return lambda x: x ** n

power_of_3 = modular_function(3)
print(power_of_3(5))

125

In [16]:
print((lambda x: x**3)(5))

125

In [17]:
mean = lambda x, y: (x+y)/2
print(mean(8, 10))

9.0

In [18]:
multiply = lambda x: x * 4
add = lambda x, y: x + y
print(add(multiply(10), 5))

45

In [19]:
number_list = [1, 2, 3, 4]
result = map(lambda x:x**3, number_list)
print(list(result))

[1, 8, 27, 64]

In [20]:
number_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
divisible_list = filter(lambda x:x%3==0, number_list) 
print(list(divisible_list))

[0, 3, 6, 9, 12]

In [22]:
def brothers(bro1, bro2, bro3):
    print('Here are the names of brothers :')
    print(bro1, bro2, bro3, sep='\n')

In [23]:
brothers("Tom", "Sue", "Tim")

Here are the names of brothers :
Tom
Sue
Tim

In [25]:
bros=["Tom", "Sue", "Tim"]

In [26]:
brothers(*bros)

Here are the names of brothers :
Tom
Sue
Tim

In [27]:
def mantik(kelime):
    return kelime.upper()

In [28]:
mantik("odunum")

'ODUNUM'

In [29]:
print(mantik("odunum"))

ODUNUM

In [30]:
"hucre"

'hucre'

In [34]:
cumle = "Bazen ODUN olmak istemisimdir"

In [44]:
def voweler(cümle):
    vowel = ["a","e","ı", "i","o","ö","u","ü"]
    if letter.lower() in vowel:
        return True
    else:
        return False

In [43]:
filtered_vowel = filter(voweler, cumle)
list(filtered_vowel)

NameError: name 'letter' is not defined

In [ ]:
def merger(a,b,c,d):
    return

In [45]:
genius=('Bill','Rossum','Guido van','Gates')
def merger(a,b,c,d):
    return f'For me {a} {d} and {c} {b} are geniuses.'
merger(*genius)

'For me Bill Gates and Guido van Rossum are geniuses.'

In [46]:
def gene(x, y):
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
    
dict_gene = {"y" : "Marry", "x" : "Fred"}
gene(**dict_gene)

Fred belongs to Generation X
Marry belongs to Generation Y

In [48]:
def onceki(**parametre):
    for x, y in parametre.items():
        print(x, y)

In [49]:
onceki(a="ahmet", b= "mehmet", c= "selamet")

a ahmet
b mehmet
c selamet

In [50]:
def gene(x = "Solomon" , y = "David"):
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
    
dict_gene = {"y" : "Marry", "x" : "Fred"}
gene(**dict_gene)

Fred belongs to Generation X
Marry belongs to Generation Y

In [53]:
gene()

Solomon belongs to Generation X
David belongs to Generation Y

In [54]:
def gene(x, y):
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
    
gene(**dict_gene)

Fred belongs to Generation X
Marry belongs to Generation Y

In [55]:
dict_gene

{'y': 'Marry', 'x': 'Fred'}

In [ ]:
#fonksiyona göndereceğimiz argüman item'lar halinde ise 
#başına ** koyarak gönderiyoruz

In [70]:
dict_couple = {"bride": ["Mary", "Bella", "Linda", "Emma"]
               "groom": ["Jack", "Robert",  "Eric", "Adam"]}

SyntaxError: invalid syntax (<ipython-input-70-bc98dd8ef668>, line 2)

In [76]:
dict_couple = {"bride": ["Mary", "Bella", "Linda", "Emma"],
              "groom": ["Jack", "Robert",  "Eric", "Adam"]}
def muruvvet(bride, groom):
    couple_list = []
    for x in zip(bride,groom):
        couple_list.append(x)
    return couple_list

In [77]:
muruvvet(**dict_couple)

[('Mary', 'Jack'), ('Bella', 'Robert'), ('Linda', 'Eric'), ('Emma', 'Adam')]

In [ ]:
def muruvvet_2(bride, groom):
    return[x for in zip]

In [90]:
friends = {"ali" : 33, "veli" : 44, "deli" : 75, "fatma1" : 35, "fatma2" : 18}

In [91]:
def meaner(ali, veli, deli, fatma1, fatma2):
    avg = (ali + veli + deli + fatma1 + fatma2)/5
    
    return "The average ages is : ", avg 
meaner(**friends)

('The average ages is : ', 41.0)

In [92]:
def meaner(ali, veli, deli, fatma1, fatma2):
    avg = (ali + veli + deli + fatma1 + fatma2)/5
    print("The average of their ages is : ", avg)
meaner(**friends)

The average of their ages is :  41.0

In [ ]:
def parantez(txt):
    a = []
    b = ""
    for i in txt:
        b += i
        if b.count("(") == b.count(")"):
            a.append(b)
            b = ""
    return a
split("((())())(()(()()))")

In [93]:
x = "[[{({})}]({}))"

In [98]:
x = "[[{({})}]({}))"

def isValid(s) :
    while "()" in s or "{}" in s or "[]" in s :
        s = s.replace("()", "").replace("{}", "").replace("[]", "")
    return s == ""

isValid(x)

False

This problem was asked by Google.
Given a string of words delimited by spaces, reverse the words in string. 
For example, given "hello world here", return "here world hello"

In [ ]:
def terscevir(text): 
    a = (text.split()[::-1])
    return " ".join(a)
print(terscevir("hello world here"))

In [ ]:
text = "hello world here"
a = text.split()[::-1]
b = " ".join(a)
b