In [1]:
numbers = [11,2,24,61,48,33,3,]
even = 0
odd = 0
for i in numbers:
    if not i % 2:
        even +=1
    else:
        odd +=1
print(f"The number of even numbers is {even}")
print(f"The number of odd numbers is {odd}")

The number of even numbers is 3
The number of odd numbers is 4

In [3]:
sum = 0
for i in range(1, 75):
       sum +=i
print(sum)

2775

In [20]:
names = ["susan", "tom", "edward"] 
mood = ["happy", "sad"]
for i in names:
    for j in mood:
        print(i, "is", j)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [21]:
listem = []
for i in range(5) :
    listem.append(i)
listem

[0, 1, 2, 3, 4]

In [24]:
'''python
for item in iterable:
    expression

[expresssion for item in iterable]
'''
#[expression for i in range(6)]

[item for item in range(5)]

[0, 1, 2, 3, 4]

In [25]:
[i ** 2   for i in range(5)]

[0, 1, 4, 9, 16]

In [26]:
# Ternary if statememts
'''
condition = True
if condition :
    a = 1
else:
    a = 0
print(a)


if_body if condition else else_body

'''

1

In [27]:
condition = True

if condition :
    a = 1
else:
    a = 0
    
print(a)

1 if condition else 0

1

1

In [31]:
a= 1 if condition else 0
print(a)
print(1 if condition else 0)
print(1 if False else 0)

1
1
0

In [35]:
listem = [1,2,3,4,5,6]
[i ** 2 for i in listem]

[1, 4, 9, 16, 25, 36]

In [36]:
[i ** 2 for i in listem if i%2 ]
# [if_body if i % 2]

[1, 9, 25]

In [ ]:
listA =["Susan", "Tom",False, 0, "0"]
havadaki_object

In [ ]:
a=[1,2,3,4]
b=[sum(a[0:x+1]) for x in range(0,len(a))]
print(b)

In [ ]:
L1 = []
L1.append([1, [2, 3], 4])
print(L1)
L1.extend([7, 8, 9])
print(L1)
print(L1[0][1][1] + L1[2])

In [ ]:
D = {1 : 1, 2 : '2', '1' : 2, '2' : 3}
D['1'] = 2
print(D[D[D['str(D[1])']]])

In [ ]:
set1 = {1, 2, 3}
set2 = set1.copy()
set2.add(4)
print(set2)
print(set1)