In [2]:
iterable = [{"bolum":5, "konu":2}, 'Galatasaray', [1, 4], 2025, 3.14, \
            1+618j, True, (10, 20), {1, 5, 17, 25}]
for i in iterable:
    print(f"The type of {i} is {type(i)}'tir.")

The type of {'bolum': 5, 'konu': 2} is <class 'dict'>'tir.
The type of Galatasaray is <class 'str'>'tir.
The type of [1, 4] is <class 'list'>'tir.
The type of 2025 is <class 'int'>'tir.
The type of 3.14 is <class 'float'>'tir.
The type of (1+618j) is <class 'complex'>'tir.
The type of True is <class 'bool'>'tir.
The type of (10, 20) is <class 'tuple'>'tir.
The type of {1, 5, 17, 25} is <class 'set'>'tir.

In [3]:
number = int(input('Please enter a number: '))
i = 0
while i < number:
    print(i ** 2)
    i += 1

Please enter a number: 3
0
1
4

In [1]:
a = 49
while a > 10:
    print(a)
    a -= 5

49
44
39
34
29
24
19
14

In [4]:
a = 49
while a % 2 != 0:
    print(a)
    a += 5

49

In [5]:
a = 49
while a <= 62:
    print(a)
    a += 5

49
54
59

In [10]:
saved_amount = int(input('Please enter your saved amount: '))
ps4_price = 220
if saved_amount <= ps4_price/2:
    print('You must save more, keep saving!')
elif saved_amount > ps4_price/2 and saved_amount < ps4_price:
    print('You saved more than half, keep saving!')
else:
    print('Yippee! You can buy your PS4')

Please enter your saved amount: 99
You must save more, keep saving!

In [11]:
math_mark = int(input('Please enter the mark: '))
if math_mark >= 85 and math_mark <= 100:
    print("A (Excellent)")
elif math_mark >= 70 and math_mark <= 84 :
    print("B (Good)")
elif math_mark >= 60 and math_mark <= 69 :
    print("C (Medium)")
elif math_mark >= 45 and math_mark <= 59 :
    print("D (Not Bad)")
else:
    print("F (Failed)")

Please enter the mark: 40
F (Failed)

In [12]:
iterable = [1, 2, 3, 4]
for i in iterable :
    print(i ** 2)

1
4
9
16

In [13]:
flowers = ['Rose', 'Orchid', 'Tulip']
a = len(flowers)
# print(count1)
b = 0 
while a > 0 :
    print(flowers[b-a])
    a -= 1

Rose
Orchid
Tulip

In [14]:
number = 23
if number >= 10:
    print("The number is equal or greater than 10")
elif number < 10:
    print("The number is less than 10")

The number is equal or greater than 10

In [15]:
print(r"\nhello")
print("new" "line" "end", 3)

\nhello
newlineend 3

In [18]:
# print(r"\nhello")
print("new" "line" "end"  3 )

SyntaxError: invalid syntax (<ipython-input-18-3c1113a8bc99>, line 2)

In [17]:
print(r"\nhello")
print("new" "line")

\nhello
newline

In [ ]:
str1 = "hello"
str2 = ","
str3 = "world"
print(str1[-1:])
str1 = "world"

In [19]:
print(0xA + 0xB + 0xC)

33

In [20]:
num = int(input('sayı : '))

if num>0:
    print('sayı pozitif')
elif num<0:
    print('sayı negatif')
else:
    print('sayı sıfır')

sayı : 10
sayı pozitif