In [6]:
walte=None

In [8]:
print(walte)
print(walte)

None
None

In [12]:
c=3.6
y=round(c)
y

4

In [13]:
"clarus"+"way"

'clarusway'

In [19]:
"12" + "12"

'1212'

In [18]:
12+12

24

In [20]:
print(int("5" + "1"))
print(str("5" + "1"))
print("5" + "1")

51
51
51

In [21]:
x=123
y=1.23
x+y

124.23

In [ ]:
datatype of number_int: int
datatype of number_flt: float

Value of number number_new:124.3
datatype of number_new: float

In [22]:
number_int=123
number_flt=1.23
number_new=number_int+number_flt

print("datatype of number_int:", type(number_int))

datatype of number_int: <class 'int'>

In [2]:
print('4'+ "4")

44

In [3]:

r=5
 

area = 3.14 * r * r
 
print(area)

78.5

In [6]:
x='12'
y="2"
print(x+"y")

12y

In [28]:
number_str=int(x)
print(type(number_str))

<class 'int'>

In [29]:
number_str

12

In [15]:
fruit = 'Orange'

print('Word                   : ' , fruit)
print('First letter           : ' , fruit[0])
print('Second letter          : ' , fruit[1])
print("3rd to 5th letters     : " , fruit[2:5])
print("Letter all after 3rd   : " , fruit[2:])

Word                   :  Orange
First letter           :  O
Second letter          :  r
3rd to 5th letters     :  ang
Letter all after 3rd   :  ange

string[:] : returns the full copy of the sequence

string[start:] : returns elements from start to the end element

string[:stop] : returns element from the 1st element to stop-1

string[::step] : returns each element with a given step

In [16]:
city = 'Phoenix'

print(city[1:])  # starts from index 1 to the end
print(city[:6])  # starts from zero to 5th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

hoenix
Phoeni
Ponx
hei
nix
xineohP

In [17]:
fruit = 'orange'
fruit += 'apple'

print(fruit)

orangeapple

In [23]:
phrase = 'I have %d %s and %.1f brothers' % (4, "children", 5)  
print (phrase)

I have 4 children and 5.0 brothers

ðŸ’¡Tips:
In the '%s' syntax : s stands for 'string'.
In the '%.2f' syntax : f stands for 'float'. In this example 2 digits after point.
In the '%d' syntax : d stands for 'numeric'.

In [28]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} we bought is {} pounds'.format(fruit, amount))

The amount of Orange we bought is 4 pounds

In [30]:
print('{state} is the most {adjective} state of the {country}'.format(country='USA', state='California',  adjective='crowded'))

California is the most crowded state of the USA

In [31]:
print(2 and 3)

3

In [35]:
print("{9} {7} {1} {10} {3} {2} {5} {8} {6} {0} {4}".format('in', 'know', 'bring', 'to', 'students.', 'out', 'best', 'teachers', 'the', 'Good', 'how'))

Good teachers know how to bring out the best in students.

In [36]:
my_name = 'JOSEPH'
output = "My name is {my_name.capitalize()}"

print(output)

My name is {my_name.capitalize()}

In [1]:
phrase = "myemailaddress@clarusway.com"

print(len(phrase))
print(phrase.startswith("@", 14))
print(phrase.endswith(".", 15, 24))

28
True
False

In [3]:
sentence = 'With hard work and dedication, anything is possible.'
print(sentence.swapcase())

wITH HARD WORK AND DEDICATION, ANYTHING IS POSSIBLE.

In [4]:
print('www', 'clarusway', "com", sep='.', end=' ')
print('will', end=' ')
print('open', end=' ')
print('your', end=' ')
print('path', end='.')

www.clarusway.com will open your path.

In [7]:
print("clarusway" + str(2020))

clarusway2020

In [1]:
x = False
y = not x

In [2]:
not (x and y)

True

In [3]:
print("{4} {9} {1} {7} {5} {0} {6} {8} {3} {2}".format('while', 'dream', 'work.', 'and', 'Some', 'success', 'others', 'of', 'wake up', 'people'))

Some people dream of success while others wake up and work.

In [5]:
print(True or False)

True

In [9]:
print("{3} {2} {4} {1} {0} ".format('job.', 'a', 'will' , 'I' , 'find'))

I will find a job.

In [10]:
section_3_5 = "python data types and useful operations"
print(str.title(section_3_5))

Python Data Types And Useful Operations

In [ ]:
{0}
or
and
[]
False

In [18]:
print({0} and False or [])

[]

In [20]:
print(float("140" * int(input("Enter a number:" ))))

Enter a number:2
140140.0

In [22]:
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"
text = f"The less you {var1} and {var2}, the {var3} you {var4} will be."
print(text)

The less you sleep and eat, the better you life will be.

In [26]:
city = "SARAJEVO."
text = f"{city.title()}"
print("I live in", text)

I live in Sarajevo.